{
    "id":"grid_forecasting_app",
    "description":"GridAPPS-D Grid Forecasting app",
    "creator":"NREL",
    "inputs":[],
    "outputs":[],
    "options": ["(simulationId)","'(request)'"],
    "type":"PYTHON",
    "execution_path": "python /usr/src/gridappsd-grid-forecasting/grid_forecasting/main_app.py",
    "launch_on_startup":false,
    "prereqs":[]
    "multiple_instances":true
}
